{% extends '/pdfproject/pdf-base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{absolute_url(asset('css/pdf.css')) }}">
{% endblock %}

{% block body %}
    <header class="header">
        <h2> RAPPORT </h2>
        <h1> PROJET : {{ formulas[0].projects.subject}}</h1>
        <h3> De : {{ app.user.fullname}}</h3>
        <p class="block-text--small">Initié le {{formulas[0].projects.createdAt |date('d/m/Y')}}</p>
    </header>

    {% for formula in formulas %}
 

        <div class="block--color">
            <h4>Id :  {{formula.subject}}</h4>
            <p> Lancé le : {{ formula.createdAt | date('d:m:Y à H:m:s')}}</p>
            <p>Prix au Kg : </p>
        </div>

        <div class="block">
            <h4>Protocole</h4>
        
            <p>{{formula.comment}}</p>
        </div>

        <section>
            <h4>Formulation</h4>
                    
                <table class="table table-hover">
                    <thead>
                        <tr class="header-line--blue">
                            <th scope="col">Designation</th>
                            <th scope="col">Quantite</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price €</th>
                            <th scope="col">Unit</th>
                            <th scope="col">€ / qtite</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for matForm in matForms %}
                            {% if formula.id is same as(matForm.idformula.id) %}
                           
                                <tr class="table-light">
                                    <th scope="row">{{ matForm.idmaterial.name}}</th>
                                    <td> {{ matForm.quantity}}</td>
                                    <td>{{ matForm.unit}}</td>
                                    <td> {{ matForm.idmaterial.price}}</td>
                                    <td> {{ matForm.idmaterial.unit}}</td>
                                    <td> {{ (matForm.idmaterial.price * matForm.quantity) / 1000 }}</td>                
                                </tr>
                           {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>

                    <div class="block-result" >
                        <h4>Résultats</h4>
                          <table class="table table-hover">
                                <thead>
                                    <tr class="header-line--green">
                                        <th scope="col">id</th>
                                        <th scope="col">Critere</th>
                                        <th scope="col">Presision</th>
                                        <th scope="col">echeance/timing</th>
                                        <th scope="col">Valeur</th>
                                        <th scope="col">Unit</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                {% for getResult in getResults %}
                                     {% if formula.id is same as(getResult.formula.id) %}
                                    <tr class="table-light">
                                            <th scope="row">{{ getResult.id}}</th>
                                            <td> {{ getResult.tests}}</td>
                                            <td>{{ getResult.tests.pres}}</td>
                                            <td>{{ getResult.tests.duedate}}</td>
                                            <td> {{ getResult.value}}</td>
                                            <td> {{ getResult.tests.unit}}</td> 
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                         </table>
                    </div>
                </section>

                <section>
                <h4>Interpretation / Commentaires</h4>
                <p>
                {% for comment in comments %}
                  {% if formula.id is same as comment.formula.id %}
                     {{comment.commentaires}}
                   {% endif %}
                {% endfor %}
                </p>
                </section>
        
    {% endfor %}
{% endblock %}